* {
    margin: 0;
    padding: 0;
}
body {
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 0%; 
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
    height: auto;
    text-align: justify;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 80px;
    align-items: center;
    grid-gap: 30px;
}
img {
    display: flex;
    max-width: 35%; 
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0%; 
    padding-top: 0%;
  }
  .gambar-container img {
    border-radius: 10px;
  }
p {
    background-color: rgb(198, 203, 223);
    color: black;
    font-family: 'Franklin Gothic';
    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}
.p2 {
    color: black;
    background-color: rgba(59, 147, 219, 0.589);
    font-family: 'Franklin Gothic';
    text-align: center;
    padding-top: 0px;
}
.warna-highlight {
    background-color: rgb(233, 93, 163);
    color: black;
}
.wrapper-content {
    background: white;
    text-align: center;
    color: black;
}
.pback {
    border-style: dashed;
    border-width: 7px;
    border-color: rgb(118, 144, 228);  
    background-color: white;
    text-align: center;
    padding-bottom: 2%;
    margin-left: 32%;
    margin-right: 32%;
    font-family: 'Bookman Old Style';
}
.pback2 {
    border-style: dotted;
    border-width: 7px;
    border-color: black;  
    background-color: rgb(233, 186, 115);
    text-align: center;
    padding-bottom: 2%;
    margin-left: 12%;
    margin-right: 32%;
    font-family: 'Bookman Old Style';
}
.background {
    background-image: url(images6/tmiindah.jpg);
    background-size: cover;
    padding-top: 3%;
    padding-bottom: 30%;
    background-attachment: fixed;
}
.head {
    border-style: groove;
    border-width: 7px;
    border-color: rgb(118, 144, 228);  
    background-color: white;
    color:black;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
    font-family: 'Bookman Old Style';
    font-size: 156%;
}
.head2 {
    color: black;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.par {
    background-color: rgb(94, 129, 224);
    color: white;
    padding-top: 0;
    padding-left: 10px;
    border-left: 2px solid red;
    margin-left: 12px;
}
.nama {
    text-align: center; 
    font-family: 'Gill Sans MT', 'Century Gothic', 'Comic Sans MS'; 
    color: rgb(14, 0, 0);
    background-color: rgb(11, 235, 205);
    border: 5px solid rgb(9, 62, 238);
}
